@page "/classic"

@using DiabloII_Cookbook.Api.DataTransferObjects;
@using DiabloII_Cookbook.Api.Queries
@using DiabloII_Cookbook.Client.Extensions;
@using DiabloII_Cookbook.Client.Components;
@using System.Threading
@using DiabloII_Cookbook.Client.Models;
@using Blazored.Modal
@using Blazored.Modal.Services
@using DiabloII_Cookbook.Client.Services;

@inject IModalService Modal;
@inject IRuneService RuneService;
@inject IFilterService FilterService;
@inject ICharacterService CharacterService; 
@inject ILoadingScreenService LoadingScreenService;

<div class="container">
    <div class="panel left">
        <div class="character-information">
            <div class="character-selector">
                <img class="arrow" src="/assets/classic/elements/left.png" @onclick="PreviousAsync" />
                <img class="character-image" src="@Character?.GetImage()" />
                <img class="arrow" src="/assets/classic/elements/right.png" @onclick="NextAsync" />
            </div>

            <div class="character-detail">
                <label>Name:</label>
                <span>@Character?.Name</span>

                <label>Level:</label>
                <span>@Character?.Level</span>

                <label>Ladder:</label>
                <span>@Character?.IsLadder.ToReadable()</span>

                <label>Expansion:</label>
                <span>@Character?.IsExpansion.ToReadable()</span>
            </div>
        </div>

        <div class="selector">
            @foreach (var rune in Runes)
            {
                <input class="rune-select" type="checkbox" />
                <RuneComponent Rune="@rune" Level="@Character?.Level" />
            }
        </div>

        <div class="button-row">
            <button class="left-row" @onclick="CreateAsync">Create</button>
            <button class="right-row" @onclick="DeleteAsync">Delete</button>
        </div>

    </div>

    <div class="right data">
        <div class="panel filter">
            <div class="filter-container">
                <div class="armor-filters">
                    @foreach (var armor in ArmorFilters)
                    {
                        <div class="selector">
                            <input type="checkbox" @bind-value="@armor.Selected" />
                            <span>@armor.ItemType.Name</span>
                        </div>
                    }
                </div>>
                <div class="weapon-filters">
                    @foreach (var weapon in WeaponFilters)
                    {
                        <div class="selector">
                            <input type="checkbox" @bind-value="@weapon.Selected" />
                            <span>@weapon.ItemType.Name</span>
                        </div>
                    }
                </div>
            </div>

            <div class="button-row">
                <div class="left-row">
                    <button @onclick="SelectArmors">Armors</button>
                    <button @onclick="SelectWeapons">Weapons</button>
                </div>

                <div class="right-row">
                    <button @onclick="FilterRuneWordsAsync">Filter</button>
                    <button @onclick="GetAllRuneWordsAsync">All</button>
                </div>
            </div>
        </div>

        <div class="rune-words-container">
            @foreach (var runeWord in RuneWords)
            {
                <RuneWordComponent RuneWord="@runeWord" Level="@Character?.Level" />
            }
        </div>
    </div>
</div>

@code {
    private int _index = 0;

    public IEnumerable<Guid> Characters { get; private set; }
    public Character Character { get; private set; }

    public IEnumerable<Rune> Runes { get; private set; } = Enumerable.Empty<Rune>();

    public IEnumerable<Filter> ArmorFilters{ get; private set; } = Enumerable.Empty<Filter>();
    public IEnumerable<Filter> WeaponFilters { get; private set; } = Enumerable.Empty<Filter>();

    public IEnumerable<RuneWord> RuneWords { get; private set; } = Enumerable.Empty<RuneWord>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        LoadingScreenService.IsLoading = false || firstRender;            
    }

    protected override async Task OnInitializedAsync()
    {
        LoadingScreenService.IsLoading = true;

        Characters = await GetCharactersAsync(default);

        Runes = await GetRunesAsync(default);

        var itemTypes = await GetItemTypesAsync(default);
        ArmorFilters = itemTypes.AsFilter("Armor");
        WeaponFilters = itemTypes.AsFilter("Weapon");

        await RefreshCharacterAsync(_index);
        await base.OnInitializedAsync();
    }

    public async Task PreviousAsync()
    {
        if (_index > 0) await RefreshCharacterAsync(--_index);
    }

    public async Task NextAsync()
    {
        if (_index < Characters.Count() - 1) await RefreshCharacterAsync(++_index);
    }

    private async Task<IEnumerable<Guid>> GetCharactersAsync(CancellationToken cancellationToken)
    {
        return await CharacterService.GetCharactersAsync(cancellationToken);
    }

    private async Task RefreshCharacterAsync(int index)
    {
        if (Characters.Count() == 0) return;
        Character = await CharacterService.GetCharacterAsync(Characters.ElementAt(index), default);
    }

    private async Task<IEnumerable<Rune>> GetRunesAsync(CancellationToken cancellationToken)
    {
        return await RuneService.GetRunesAsync(cancellationToken);
    }

    public async Task GetAllRuneWordsAsync()
    {
        RuneWords = await RuneService.GetRuneWordsAsync(default);
    }

    public async Task<IEnumerable<ItemType>> GetItemTypesAsync(CancellationToken cancellationToken)
    {
        return await FilterService.GetItemTypesAsync(cancellationToken);
    }

    public void SelectArmors()
    {
        var target = ArmorFilters.All(at => !at.Selected);

        foreach (var armor in ArmorFilters)
        {
            armor.Selected = target;
        }

        Console.WriteLine("Select armors");
    }

    public void SelectWeapons()
    {
        var target = WeaponFilters.All(wt => !wt.Selected);

        foreach (var weapon in WeaponFilters)
        {
            weapon.Selected = target;
        }
    }

    public async Task FilterRuneWordsAsync()
    {
        Console.WriteLine(WeaponFilters.Count(wf => wf.Selected) + ArmorFilters.Count(af => af.Selected));

        foreach (var filter in WeaponFilters.Where(af => af.Selected))
        {
            Console.WriteLine(filter.ItemType.Name);
        }
    }

    public async Task CreateAsync()
    {
        var modalReference = Modal.Show<CreateCharacter>();

        var result = await modalReference.Result;
        if (!result.Cancelled)
        {
            Characters = await GetCharactersAsync(default);
            await RefreshCharacterAsync(Characters.Count() - 1);
        }
    }

    public async Task DeleteAsync()
    {
        var modalReference = Modal.Show<ConfirmationDialog>();

        var result = await modalReference.Result;
        if (!result.Cancelled)
        {
            await CharacterService.DeleteAsync(Character.Id, default);
            Characters = await GetCharactersAsync(default);
            await RefreshCharacterAsync(Characters.Count() - 1);
        }
    }
}
